---
- name: Install chrony
  ansible.builtin.apt:
    name: "{{ baseline_ntp_package }}"
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Configure chrony NTP servers
  ansible.builtin.template:
    src: chrony.conf.j2
    dest: /etc/chrony/chrony.conf
    owner: root
    group: root
    mode: "0644"
  notify: Restart chrony

- name: Ensure chrony is enabled and running
  ansible.builtin.service:
    name: "{{ baseline_ntp_service }}"
    state: started
    enabled: true
