---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: debian-baseline
    image: debian:bookworm
    dockerfile: Dockerfile.j2
    pre_build_image: false
    privileged: true
    command: /lib/systemd/systemd
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    tmpfs:
      - /run
      - /tmp

provisioner:
  name: ansible

verifier:
  name: ansible
